In [29]:
import pandas as pd
import numpy as np
import glob,os
from functools import reduce

path=r'../Raw_data/Tweets/'
file=glob.glob(os.path.join(path, "*.csv"))

dl= []
col_name=['gram']

for f in file:
    dfi = pd.read_csv(f)
    dl.append(dfi)
    s = f[24:].split("_")
    col_name.append(s[0])


df_final = reduce(lambda left,right: pd.merge(left,right,on='gram', how='outer'), dl)
df_final.columns = col_name
df_final.set_index('gram',inplace=True)
df_final.to_csv("../Output/Tweets_Result/tweets_clean.csv")
df_final

,04-18,04-15,04-05,04-08,04-25,03-24,03-29,03-27,04-06,04-16,...,03-26,04-17,04-07,04-04,04-09,04-19,04-14,04-24,03-25,03-28
gram,,,,,,,,,,,,,,,,,,,,,
covid 19,157083.0,181560.0,134274.0,162077.0,173320.0,85876.0,110352.0,125985.0,154076.0,198348.0,...,120843.0,176204.0,157280.0,137354.0,173752.0,170601.0,188072.0,179966.0,85937.0,109444.0
coronavirus pandemic,8529.0,10956.0,8441.0,11052.0,8691.0,5863.0,6957.0,8305.0,9334.0,10622.0,...,8595.0,9716.0,10013.0,8021.0,10067.0,8677.0,12028.0,9836.0,5402.0,6811.0
coronavirus covid19,7032.0,9374.0,8433.0,10276.0,7659.0,4353.0,7559.0,9686.0,9499.0,9418.0,...,8432.0,8920.0,10167.0,9072.0,8398.0,8846.0,10294.0,8038.0,4057.0,7669.0
covid19 coronavirus,5836.0,9246.0,5930.0,9196.0,6256.0,3175.0,5086.0,6445.0,7227.0,9212.0,...,6059.0,7933.0,9777.0,6668.0,6650.0,8149.0,9407.0,6947.0,2753.0,5994.0
coronavirus cases,5389.0,4423.0,4457.0,4141.0,4960.0,3318.0,4757.0,5891.0,4363.0,4340.0,...,6957.0,4407.0,3665.0,4512.0,4596.0,5325.0,4525.0,3800.0,3044.0,4816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
new twist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241.0
american blood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0
prueba coronavirus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0
fight virus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0
of care,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0

In [34]:
# get everyday tweets sum

date_sum = df_final.apply(lambda x: x.sum())
date_sum = date_sum.to_frame()

date_sum.index.names = ['Date']
date_sum.columns = ['Sum']
date_sum.sort_index(inplace=True)
date_sum.to_csv("../Output/Tweets_Result/tweets_daily_sum.csv")
date_sum

             Sum
Date
03-22   506778.0
03-23   539722.0
03-24   538587.0
03-25   558788.0
03-26   755075.0
03-27   811691.0
03-28   696556.0
03-29   714655.0
03-30   801554.0
03-31   862495.0
04-01   794699.0
04-02   803573.0
04-03   794307.0
04-04   872508.0
04-05   871569.0
04-06   869692.0
04-07   892996.0
04-08   856867.0
04-09  1038056.0
04-10   863548.0
04-11   780058.0
04-12  1008479.0
04-13  1180183.0
04-14  1108430.0
04-15  1010159.0
04-16  1099523.0
04-17   901058.0
04-18   839732.0
04-19  1003105.0
04-20   958212.0
04-21  1166869.0
04-22  1501577.0
04-23   997988.0
04-24   966800.0
04-25   913972.0